.article {
  top: 30px;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in;
}

.article h1 {
  font-size: 24px;
  letter-spacing: 1px;
  color: #61efff;
  text-shadow: #61efff 0px 0px 4px;
  text-align: center;
  padding-bottom: 10px;
}
.content {
  display: flex;
}

.back {
  position: absolute;
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #8ccff1bd;
  text-shadow: #8ccff1bd 0px 0px 6px;
  transition: opacity 0.5s ease-out;
}

.back:hover {
  color: #8ccff1;
  text-shadow: #8ccff1 0px 0px 10px;
}

.description {
  padding: 20px 0px;
  color: #8ccff1bd;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #313d4d;
}
.row span {
  padding-right: 10px;
  color: #8ccff18c;
  text-shadow: #8ccff18c 0px 0px 1px;
}

.row p {
  color: #8ccff163;
  margin: 0;
  text-align: right;
}
