body,
html {
  font-family: Helvetica;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #181c23,
    #1c222a,
    #202732,
    #232d39,
    #273341
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

button,
input[type='submit'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  text-align: center;
  caret-color: #87a0cc;
}

input::placeholder {
  font-size: 18px;
  color: #87a0cc;
  text-shadow: #87a0cc 0px 0px 4px;
  font-style: italic;
}

a {
  text-decoration: none;
}

.dark-layer {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  transition: background-color 1.5s ease-in-out, opacity 1.5s ease-in-out;
}
.container {
  transform: translateY(50px);
}
