.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.header h1 {
  margin: 0;
  text-align: center;
  padding: 10px;
  background: #313d4d;
}

.header h1 a {
  letter-spacing: 1px;
  color: #97fffac9;
  text-shadow: #97fffac9 0px 0px 4px;
  transition: color 0.5 ease-in-out;
}

.header h1 a:hover {
  color: #61efff;
  text-shadow: #61efff 0px 0px 4px;
}
